@import '../../../styles/variables';

.Header {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  &__Contents {
    padding: 25px;
    width: calc(100% - 50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .Logo {
      color: $primary;
      width: 100%;
      text-decoration: none;
      &:hover {
        color: $primary-hover;
      }
      &__Type {
        font-size: 1.5em;
        display: block;
        color: white;
        @media (max-width: $tablet) {
          display: none;
        }
      }
      img {
        height: 80px;
        float: left;
        margin-right: 5px;
        vertical-align: middle;
      }
    }
    .Nav {
      &__Link {
        margin-left: 1rem;
      }
    }
  }
}
