@import 'variables';

// Typography
body {
  font-family: $body-font;
  color: $body-color;
  font-size: $body-font-size;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background: $background-dark;
  font-weight: 400;
}

p {
  font-family: $body-font;
  color: $body-color;
  font-size: $body-font-size;
  margin-top: $base-margin;
  margin-bottom: $base-margin;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
  font-family: $heading-font;
  margin-top: $base-margin;
  margin-bottom: $base-margin;
}

h1,
h2,
h3,
h4 {
  font-weight: 100;
}

a {
  color: $link-color;
  text-decoration: none;
  transition: all 0.15s linear;
  &:hover {
    color: lighten($link-color, 10%);
  }
}

img {
  display: block;
  max-width: 100%;
}

// Elements

.Button {
  border: 2px solid $primary;
  color: $primary;
  background: transparent;
  padding: 10px 15px 0px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 5px;
  font-size: 1em;
  &:hover {
    border: 2px solid $primary-hover;
    color: $primary-hover;
  }
  &.Filled {
    background: $primary;
    color: $background-dark;
    &:hover {
      background: $primary-hover;
    }
  }
}

.ButtonGroup {
  .Button:not(:last-child) {
    margin-right: 15px;
  }
}

// Forms
.Form {
  padding: 25px;
}
iframe {
  border: none !important;
  .sharedFormField,
  .formFieldAndSubmitContainer,
  .formHeader {
    background-color: #000 !important;
  }
}

// Blocks
.Hero {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.85);
  &.Sliver {
    min-height: 230px;
  }
  .HeroBorder {
    top: 0;
    position: absolute;
    margin: 25px;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    border: 2px solid $primary;
    pointer-events: none;
  }
  &__Contents {
    padding: $base-padding;
    padding-left: 150px;
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    h1 {
      font-size: 2.75em;
      color: $primary;
    }
    p {
      font-size: 1.5em;
      color: $primary;
    }
  }
  &.Home {
    h1,
    p {
      font-size: 1.5em;
      line-height: 1.15em;
      max-width: 500px;
      margin-bottom: 50px;
    }
    background-image: url('../images/raid__banner-img.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
    @media (min-width: 769px) and (max-width: 1201px) {
      background-size: 50%;
      background-position: bottom right;
    }
    @media (max-width: $tablet) {
      background-position: center 75px;
      justify-content: flex-start;
      align-items: flex-end;
      min-height: 765px;
      .Hero__Contents {
        padding-top: 150px;
        padding-left: 50px;
        p {
          font-size: 0.85em;
        }
      }
    }
  }
}

.Block {
  position: relative;
  &__Contents {
    width: calc(100% - 300px);
    padding: $base-padding * 3;
    @media (max-width: $tablet) {
      width: calc(100% - 100px);
      padding: $base-padding;
      p {
        font-size: 0.75em;
      }
    }
  }
}

// Elements
.Row,
.Grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-width: $grid;
  margin: 0 auto;
  justify-content: space-evenly;
}

.Column {
  display: flex;
  flex-direction: column;
  &--50 {
    flex-basis: 45%;
    margin-right: 5%;
    &:nth-child(2n) {
      flex-basis: 50%;
      margin-right: 0;
    }
  }
  &--33 {
    flex-basis: 30%;
    margin-right: 3%;
    &:nth-child(3n) {
      flex-basis: 33%;
      margin-right: 0;
    }
  }
  @media (max-width: $tablet) {
    flex-basis: 100% !important;
    margin: 25px auto;
  }
}

// Modifiers / Utils

.Contain600 {
  max-width: 800px;
  margin: 25px auto 75px;
  text-align: center;
}

.BackgroundImage {
  // background image
  background-size: cover;
  background-origin: center center;
  background-repeat: no-repeat;
}

.FlexCenter {
  align-items: center;
  justify-content: center;
}

// Blocks

.Hire {
  background-color: $primary;
  h2 {
    color: black;
  }
  .Grid {
    @media (max-width: 1500px) {
      .Column--50 {
        flex-basis: 100%;
      }
    }
  }
  .Button {
    color: black;
    border-color: black;
    margin-bottom: 20px;

    &:hover {
      background-color: $primary-hover;
    }
  }
}

.ServiceCards {
  display: flex;
  flex-wrap: wrap;
  &__Item {
    background-color: black;
    padding: 15px;
    width: calc(50% - 45px);
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: center;
    &:nth-child(2n-1) {
      margin-right: 15px;
    }
    h3 {
      color: $primary;
      font-size: 1em;
      font-weight: normal;
      margin-top: -15px;
    }
    p {
      font-size: 0.75em;
    }
    @media (max-width: 900px) {
      width: calc(100% - 30px);
      &:nth-child(2n-1) {
        margin-right: 0px;
      }
    }
  }
}

.Join {
  .Column--33 {
    text-align: center;
    svg {
      margin: 0 auto;
    }
  }
}

.Portfolio {
  text-align: center;
  .Block__Contents {
  }
}

.Portfolio__Images {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  .Row1 {
    align-content: center;
    justify-content: center;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    img {
      width: auto;
      height: 200px;
    }
  }
  .Row2 {
    align-content: center;
    justify-content: center;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    img {
      width: auto;
      height: 120px;
    }
  }
}
.Portfolio__Cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.Portfolio__Card {
  flex-grow: 0;
  width: 30%;
  max-height: 320px;
  border: 1px solid $transparent-white;
  border-radius: 10px;
  margin: 8px;
  transition: all .2s ease-in-out;

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  &:hover, &:active {
    h6 {
      color: white;
    }
    border: 1px solid white;
    img {
      border-radius: 9px;
      transform: scale(1.02);
    }
  }
}
.Portfolio_CardContent {
  display: flex;
  align-items: center;
  flex: 1;

  h6 {
    margin-left: 12px;
    transition: all .2s ease-in-out;
  }
}
.Portfolio_CardTags {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 12px;
  font-family: monospace;
  font-size: .3em;
  text-transform: uppercase;
  color: $transparent-white;
}
.Portfolio__CardThumbnail {
  height: 200px;
  object-fit: cover;
  overflow: hidden;

  img {
    transition: all .2s ease-in-out;
    border-radius: 9px;
  }
}

.OverEmbed {
  z-index: 100;
}
