@import '../../../styles/variables';

.Footer {
  background: black;
  position: relative;
  width: 100%;
  &__Contents {
    padding: $base-padding;
    width: calc(100% - 100px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .Logo {
      text-decoration: none;
      img {
        max-height: 60px;
        float: left;
        margin-right: 5px;
        vertical-align: middle;
      }
    }
    .Nav {
      &__Link:not(:first-child) {
        margin-left: 25px;
      }
    }
    @media (max-width: $tablet) {
      .Nav {
        width: 100%;
        text-align: center;
      }
      .Logo {
        max-width: 200px;
        margin: 25px auto;
        img {
          margin: 0 auto;
          width: 140px;
          text-align: center;
        }
      }
    }
  }
}
